// Demensions
@import 'variables_dimensions';


// Colors
@import 'variables_colors';


// Breackpoints
@import 'variables_breakpoints';


$font-default: sans-serif;
$font-main: 'OpenSans', $font-default;
$font-ordinary: 'futura-pt', $font-main;
